.button {
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem 1rem;
    border-radius: 0.8rem;
    margin: 1rem;
    background-color: var(--button-background-color);

    color: var(--button-color);
    font-weight: bold;
    transition: 200ms;
    font: 400 1.8rem Noto Sans SC;
}

.button:hover {
    opacity: 90%;
}
