#header-container{
    width: 90%;
    height: 10vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


#header-container .logo-container > img {
    width: 7.5rem
}

#header-container .header-content {
    display: none;
}

.menu-bars {
    display: flex;
    color: white;
}

/** desktop */

@media (min-width: 700px){
    .menu-bars {
        display: none;
    }

    #header-container .header-content {
        display: flex;
        align-items: center;
    }


    #header-container .header-content a {
        padding-left: 1em;
    }
}