.NavbarItems {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 300 1.8rem Noto Sans SC;
}

.logo-container {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.logo-container > img{
    width: 60px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #aaaaaa83;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: white;
}

.nav-links-mobile {
    display: none;
}


/** desktop */

@media (min-width: 700px){

}