footer.footer-content {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

footer.footer-content .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.footer-content .contacts div {
    padding: 0 1rem;
} 

.scroll-up {
    font-size: 3rem;
    transition: 200ms;
}
.scroll-up:hover {
    transform: scale(1.050);
    border-radius: 50%;
}

@media (min-width: 700px){
    footer.footer-content{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 13rem;
    }

}