* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@media (min-width: 700px){
    :root{
        font-size: 65%;
    }

    .hidden {
        display: flex;
        visibility: visible;
    }

    .fas {
        visibility: hidden;;
    }

}